@use 'src/theme.scss';

@mixin make-container($padding-x: theme.$container-padding-x) {
    width: 100%;
    padding-right: $padding-x;
    padding-left: $padding-x;
    margin-right: auto;
    margin-left: auto;
}

.main-container {
    @include make-container();
    padding-top: 3%;
    width: 1600px;
    align-items: center;
}

.calcs-list {
    .calculator:first-child {
        .calc-number {
            border-top-left-radius: 15px;

        }

        .delete-row {
            border-top-right-radius: 15px;
        }
    }

    .calculator:last-child {
        .calc-number {
            border-bottom-left-radius: 15px;
        }

        .delete-row {
            border-bottom-right-radius: 15px;
        }
    }
}

.calculator {
    background: transparent 0% 0% no-repeat padding-box;
    border-radius: 15px 15px 15px 0px;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;

    form {
        width: 100%;
        height: 100%;
    }

    div {
        flex-grow: 1;
    }

    .list-group {
        flex-grow: 1;

        .list-group-item {
            flex-grow: 1;
            justify-content: space-evenly;
        }
    }

    @mixin calc-field($width) {
        text-transform: capitalize;
        width: $width;
        display: flex;
        align-items: center;
        flex-grow: 1;
    }

    .calc-number {
        /* UI Properties */
        @include calc-field(3rem);
        font: normal normal 300 50px/68px Open Sans;
        border: 1px solid rgba(0, 0, 0, 0.125);
        letter-spacing: 0px;
        border-radius: 0px;
        justify-content: center;
        background-color: #156982;
        color: white;
    }

    .description {
        @include calc-field(250px);

        textarea {
            resize: none;
        }
    }

    .power-kw {
        @include calc-field(140px);
    }

    .ampacity {
        @include calc-field(13rem);
    }

    .wire {
        @include calc-field(12rem);
    }

    .cable {
        @include calc-field(8rem);
    }

    .results {
        @include calc-field(7rem);
        flex-direction: column;
    }

    .delete-row {
        @include calc-field(3rem);
        justify-content: center;
        border-radius: 0;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.125);
    }

    .data-result-title {

        /* UI Properties */

        text-align: center;
        letter-spacing: 0px;
        color: #828282;
        text-transform: capitalize;
        opacity: 1;
    }

    .data-result-text {
        text-align: center;
    }
}


.reference-row {
    /* Layout Properties */
    top: 1033px;
    left: 287px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    height: 28px;
    padding-bottom: 1%;
    padding-left: 75px;

    /* UI Properties */
    text-align: center;
    letter-spacing: 0px;
    color: #828282;
    text-transform: capitalize;
    opacity: 1;
}


.add-row-btn {
    /* Layout Properties */

    top: 886px;
    left: 1510px;
    width: 200px;
    height: 60px;

    /* UI Properties */

    background: #828282 0% 0% no-repeat padding-box;
    border: 0.699999988079071px solid #888787;
    opacity: 1;
    text-align: center;
    letter-spacing: 0px;
}

.reset-btn {
    text-align: center;
    letter-spacing: 0px;
    opacity: 1;
}

.calculate-btn {
    background: #156982 0% 0% no-repeat padding-box;
    border: 0.699999988079071px solid #156982;
    opacity: 1;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
}