@use 'src/theme.scss';

.main-container {
    padding-top: 3%;
    padding-left: 5%;
    
}


.add-row {
    /* Layout Properties */

    top: 886px;
    left: 1510px;
    width: 200px;
    height: 60px;

    /* UI Properties */

    background: #828282 0% 0% no-repeat padding-box;
    border: 0.699999988079071px solid #888787;
    border-radius: 15px;
    opacity: 1;
    text-align: center;
    font: normal normal normal 24px/33px Open Sans;
    letter-spacing: 0px;
}

.reset {
    text-align: center;
    font: normal normal medium 24px/33px Open Sans;
    letter-spacing: 0px;
    opacity: 1;
}

.calculate {
    background: #156982 0% 0% no-repeat padding-box;
    border: 0.699999988079071px solid #156982;
    opacity: 1;
    text-align: center;
    font: normal normal bold 24px/33px Open Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
}