@use 'src/theme.scss';

@mixin make-container($padding-x: theme.$container-padding-x) {
    width: 100%;
    padding-right: $padding-x;
    padding-left: $padding-x;
    margin-right: auto;
    margin-left: auto;
}

.main-container {
    @include make-container();
    padding-top: 3%;
    width: 80%;
    align-items: center;
}

.customer-info {
    display: flex;
    width: 100%;
    flex-direction: column;

    .form-control {
        margin: 0;
    }

    .hstack {
        margin-bottom: 2rem;
        margin-top: 2rem;

        input[name="CustomerName"] {
            margin-right: 6rem;
        }
    }

    input[name="Remarks"] {
        width: 100%;
    }
}

.calcs-list {
    .calculator:first-child {
        .calc-number {
            border-top-left-radius: 15px;

        }

        .smm2 {
            border-top-right-radius: 15px;
        }
    }

    .calculator:last-child {
        .calc-number {
            border-bottom-left-radius: 15px;
        }

        .smm2 {
            border-bottom-right-radius: 15px;
        }
    }
}

.calculator {
    background: transparent 0% 0% no-repeat padding-box;
    border-radius: 15px 15px 15px 0px;
    text-align: center;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: center;

    form {
        width: 100%;
        height: 100%;
    }

    div {
        flex-grow: 1;
    }

    .list-group {
        flex-grow: 1;

        .list-group-item {
            flex-grow: 1;
            justify-content: space-evenly;
            border: 0;
            padding: 5px 5px 2px 2px;
        }
    }

    @mixin calc-field($width) {
        text-transform: capitalize;
        width: $width;
        display: flex;
        align-items: center;
        flex-grow: 1;
        font-size: 18px;
    }

    .calc-number {
        /* UI Properties */
        @include calc-field(3rem);
        font: normal normal 300 30px/68px Open Sans;
        border: 0px solid rgba(0, 0, 0, 0.125);
        letter-spacing: 0px;
        border-radius: 0px;
        justify-content: center;
        background-color: #156982;
        color: white;
    }

    .seperator {
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;

        .vline {
            border-left: 0.75px solid #DBDBDB;
            height: 45px;
            opacity: 0.75;
        }
    }

    .description {
        @include calc-field(250px);

        textarea {
            resize: none;
        }
    }

    .power-kw {
        @include calc-field(140px);
    }

    .ampacity {
        @include calc-field(13rem);
    }

    .wire {
        @include calc-field(13rem);
    }

    .cable {
        @include calc-field(8rem);
    }

    .results {
        @include calc-field(7rem);
        flex-direction: column;
        line-height: 1rem;
    }



    .delete-row {
        @include calc-field(3rem);
        justify-content: flex-start;
        border: 0;
        background-color: transparent;
    }

    .data-result-title {

        /* UI Properties */

        text-align: center;
        letter-spacing: 0px;
        color: #828282;
        text-transform: capitalize;
        opacity: 1;
    }

    .data-result-text {
        text-align: center;
    }
}

.reference-row {
    color: #828282;
    text-transform: capitalize;
    width: 90%;
    font-size: 14px;
    margin-left: 5%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;

    .seperator {
        display: none;
    }
}

.calculate-btn {
    background: #156982 0% 0% no-repeat padding-box;
    border: 0.699999988079071px solid #156982;
    opacity: 1;
    text-align: center;
    letter-spacing: 0px;
    color: #FFFFFF;
}