.login-icon{
    float: right;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top: -30px;
    cursor: pointer;

}

.info{
    background: #156982;
    text-align: center;
    align-items: center;
    color: #ffff;
    height: 100px;
}
