@use 'src/theme.scss';

.form-floating>.form-control:focus~label,
.form-floating>.form-control:not(:placeholder-shown)~label,
.form-floating>.form-select~label {
  opacity: 1;
  transform: scale(.95) translateY(-.10rem) translateX(.20rem);
}

.modal-dialog {
    min-width: 60%;
}

.login-signup-modal {
    height: 608px;
    width: 908px;
    border-radius: 2px;
    color: theme.$white;
    position: relative;
    text-align: center;
    background-color: transparent;
    font-family: "OpenSansLight" !important;
    text-transform: capitalize;

    .container {
        background-color: transparent;
    }

    .login-modal-header {
        background-color: theme.$bes-blue-color;
        color: white;
    }

    @mixin panels($color: theme.$white, $bg_color: theme.$bes-blue-color) {
        position: absolute;
        height: 100%;
        width: 50%;
        background-color: $bg_color;
        color: $color;
        display: flex;
        flex-direction: column;

    }

    @mixin input($color :theme.$white) {
        border-radius: 3px;
        background-color: transparent;
        border-color: $color;
        border-width: 1px;
        border-style: solid;
    }

    @mixin btns($color_text: theme.$white, $color_bg: theme.$bes-blue-color) {
        top: 736px;
        left: 636px;
        width: 196px;
        height: 50px;
        border-width: 1px;
        border-radius: 3px;
        background-color: $color_bg;
        color: $color_text;
        border-color: $color_text;
        border-style: solid;

        &:active {
            background-color: $color_text;
            color: $color_bg
        }

        &:hover {
            font-weight: bold;
        }
    }

    .title {
        text-align: center;
        margin-top: 65px;
        margin-bottom: 34px;
        span, h2 {
            font-family: 'Open Sans';
            font-weight: 200;
        }
        span {
            font-size: 16px;
        }
        h2 {
            font-size: 50px;
        }
    }

    .login-form,
    .signup-form {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-left: 57px;
        margin-right: 57px;
        margin-bottom: 25px;
        flex-grow: 1;
    }

    .login-panel {
        @include panels;

        input,
        input:focus,
        input:hover {
            @include input;
        }

        .login-btn {
            @include btns(theme.$bes-blue-color, theme.$white);
            align-self: center;
        }

        .keep-logged-in {
            text-align: left;
            font: normal normal 300 14px/19px;
            letter-spacing: 0px;
            opacity: 1;
        }

        .reset-password {
            text-align: right;
            text-decoration: underline;
            font: normal normal 300 14px/19px;
            letter-spacing: 0px;
            opacity: 1;
        }
    }

    .signup-panel {
        @include panels(theme.$bes-blue-color, theme.$white);

        input,
        input:focus,
        input:hover {
            @include input(theme.$bes-blue-color);
        }

        .signup-btn {
            @include btns(theme.$white, theme.$bes-blue-color);
            align-self: center;
        }
    }
}