@use 'src/theme.scss';

.welcome {
    font-size: 32px;
    text-transform: capitalize;
    font-weight: bolder;
    margin-bottom: 45px;
}

.search {
    input {
        height: 70px;
        background: url('../Assets/search.svg') no-repeat;
        background-position: 15px;
        padding-left: 55px !important;
        background-color: white;
    }

    input:hover {
        &::placeholder {
            color: black;
            font-weight: bold;
        }
    }
}

.small-searches {
    display: flex;
    flex-direction: row;
    gap: 45px;
    margin-top: 45px;
    margin-bottom: 45px;
}

.saved-calculation {

    .icons {
        display: flex;
        flex-direction: row;
        gap: 45px;

        img {
            width: 25px;
        }

        img:hover {
            filter: invert(28%) sepia(93%) saturate(583%) hue-rotate(151deg) brightness(93%) contrast(84%);
            cursor: pointer;
        }
    }

    .field {
        display: flex;
        align-items: center;
        align-content: center;
        color: black;
        font-weight: bold;
        border-right: 1px solid lightgray;
    }
}

.calculations-container {
    margin-top: 68px;
    display: flex;
    flex-direction: column;
    width: 100%;

    .list-group-item {
        flex-grow: 1;
        border: 0;
        min-height: 100px;
        background-color: white;
    }

    .file-description {
        flex-grow: 2;
    }

    div:first-child {
        .saved-calculation {
            .list-group-item:first-of-type {
                border-top-left-radius: 15px;
            }

            .list-group-item:last-of-type {
                border-top-right-radius: 15px;
            }

        }
    }

    div:last-child {
        .saved-calculation {
            .list-group-item:first-of-type {
                border-bottom-left-radius: 15px;
            }

            .list-group-item:last-of-type {
                border-bottom-right-radius: 15px;
            }
        }
    }
}