@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
    font-family: 'open_sans_condensed_light';
    src: url('./Assets/Fonts/OpenSans_Condensed-Light.ttf');
}

@font-face {
    font-family: 'OpenSansLight';
    src: url('./Assets/Fonts/OpenSans-Light.ttf');
}

$bes-blue-color: #056e8f;
$page-background: #edf0f0;
$dark-gray: #828282;
$light-gray: #c6c6c6;
$white: #ffffff;

$theme-colors: (
    "primary": $bes-blue-color,
    "light": $light-gray,
    "dark": $dark-gray,
);

$border-radius: 15px;
$border-radius-lg: 15px;
$border-radius-sm: 15px;
$input-btn-border-width: 0px;
$input-border-radius: 15px;
$input-border-radius-lg: 15px;
$input-border-radius-sm: 15px;
$body-bg: $page-background;
$input-bg: $white;
$input-border-focus: 0;
$dropdown-bg: $white;
$dropdown-divider-bg: $light-gray;
$dropdown-link-hover-color: darken($white, 5%);
$list-group-border-radius: 0;

$modal-content-bg: transparent;
$modal-content-border-color: transparent;
$modal-title-padding: 0;
$modal-header-border-color: transparent;

@import "../node_modules/bootstrap/scss/bootstrap";


@mixin button() {
    color: $white;
    font-family: "Open Sans";
    font-size: 24px;
    text-align: center;
    border: 0.7px solid;
    border-radius: 15px !important;
    min-width: 200px;
    min-height: 60px;
}

.btn {
    @include button();
    background-color: $bes-blue-color;
    border-color: $bes-blue-color;
    font-weight: bold;
}

.btn:disabled {
    @include button();
    background-color: #C3C1C1;
    border-color: #888787;
}

.btn:hover {
    @include button();
    background-color: #888787;
    border-color: #888787;
}

body {
    font-family: "OpenSansLight" !important;
    font-weight: 400;

    textarea:focus,
    textarea.form-control:focus,
    input.form-control:focus,
    input[type=text]:focus,
    input[type=password]:focus,
    input[type=email]:focus,
    input[type=number]:focus,
    [type=text].form-control:focus,
    [type=password].form-control:focus,
    [type=email].form-control:focus,
    [type=tel].form-control:focus,
    [contenteditable].form-control:focus {
        box-shadow: none;

    }

    textarea:hover,
    textarea.form-control:hover,
    input.form-control:hover,
    input[type=text]:hover,
    input[type=password]:hover,
    input[type=email]:hover,
    input[type=number]:hover,
    [type=text].form-control:hover,
    [type=password].form-control:hover,
    [type=email].form-control:hover,
    [type=tel].form-control:hover,
    [contenteditable].form-control:hover {
        box-shadow: none;

    }
}


@mixin make-container($padding-x: theme.$container-padding-x) {
    width: 100%;
    padding-right: $padding-x;
    padding-left: $padding-x;
    margin-right: auto;
    margin-left: auto;
}

.main-container {
    @include make-container(0);
    width: 80%;
    align-items: center;
    height: 100%;
    font-family: 'OpenSansLight' !important;
}


.hseperator {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    .hline {
        width: 62em;
        height: 1px !important;
        background-color: #DBDBDB;
        position: absolute;
        z-index: 1;
        opacity: 0.6;
    }
}

.vseperator {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    min-width: 2rem;
    max-width: 2.1rem;

    .vline {
        background-color: #DBDBDB;
        height: 75%;
        opacity: 0.75;
        width: 100%;
        z-index: 1;
    }
}

.btn-close {
    &:hover {
        filter: invert(28%) sepia(93%) saturate(583%) hue-rotate(151deg) brightness(93%) contrast(84%);
    }
}