.calculator{
    background-color: white;
    height: 79px;
    width: 100%;
    border-radius: 12px;
    margin-bottom: 15px;
    margin-top: 15px;
}
.add{
    background: #C3C1C1;
    height:auto;
    width:auto;
    color: white;
    font-size: 32px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    text-align: center;
    position: relative;
    border: thin solid transparent;
}
.description
{
    width: 15%;
    height: auto;
    padding-top: 14px;
    padding-bottom: 14px;

}
.input{
    width: 15%;
    height: auto;
    padding-bottom: 14px;
    padding-top: 14px;
    padding-right: 7px;
    padding-left: 7px;
    margin-right: -4px;
    margin-left: -4px;

}
.calculator-input{background-color: transparent; border: thin solid transparent; padding-bottom: 7px;
    padding-top: 7px;}
.kilo-w{
    width: 15%;
    height: auto;
    padding-top: 14px;
    padding-bottom: 14px;
}
.KW{
    background-color: transparent;
    font-family: Arial;
    border: thin solid transparent;
    padding-top: 18px;
    padding-bottom: 18px;

}

.al-cu{
    width:19%;
    box-sizing: inherit;
    font-size: 14px;
    justify-content: center;
    border-spacing: 15px;


}
.al-cu label{
    padding-right: 10px;
    padding-left: 10px;
}
.al-cu .switch{
    margin-top: 20px;
    margin-bottom: 20px;


}
.data{
    padding-top: 20px;
    padding-bottom: 20px;
}


 .rule-line{
    height: 30px;
    width: 0.5px;
    position: relative;
    top: -50px;
    bottom: -50px;
    left: 60px;
     border: thin solid whitesmoke;
}

 .rule-line-2{
     height: 30px;
     width: 0.5px;
     position: relative;
     top: -50px;
     bottom: -50px;
     left: 92px;
     border: thin solid whitesmoke;
 }
/* Switch design */


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 35px;
    height: 18px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 4px;
    bottom: 3.5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #156982;
}

input:focus + .slider {
    box-shadow: 0 0 1px #156982;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


.gray-text{color: rgba(0, 0, 0, 0.38);}
.al-cu.form-control{margin-top: 0px; margin-bottom: 0px;}
.delete-element{
    position: relative;
    top:30px;
    cursor: pointer;
}