/* make the customizations */

$bes-blue-color: #056e8f;
$page-background: #edf0f0;
$dark-gray: #828282;
$light-gray: #c6c6c6;
$white: #ffffff;

$theme-colors: (
    "primary": $bes-blue-color,
    "light": $light-gray,
    "dark": $dark-gray,
);

$border-radius: 15px;
$border-radius-lg: 15px;
$border-radius-sm: 15px;
$input-btn-border-width: 0.75px;
$input-border-radius: 15px;
$input-border-radius-lg: 15px;
$input-border-radius-sm: 15px;
$body-bg: $page-background;
$input-bg: $white;

.BES-header {
    background-color: $white
}

.main-btn {
    $border-radius: 15px;
}

.BES-header-info {
    background: $bes-blue-color;
    text-align: center;
    align-items: center;
    color: $white;
    height: 100px;
}

.menu-title {
    justify-content: center;
    display: block;
}

.login-icon {
    cursor: pointer;
}

.login-modal {
    background-color: $bes-blue-color;
    height: 600px;
    border-radius: 2px;
    color: $white;
    font-family: Helvetica;

    .login-title {
        text-align: center;
        height: 100px;
        padding: 25px;
    }

    @mixin input {
        border-radius: 3px;
        background-color: transparent;
        border-color: $white;
        border-width: 1px;
    }

    input {
        @include input;
    }
    input:focus {
        @include input;
    }

    input:hover {
        @include input;
    }

    a {
        color: $white;
    }

    a:hover {
        color: $white;
        cursor: pointer;
        text-decoration: none;
    }

    .email-password {
       
        label { 
            opacity: .8;
        }
    }

    .login-btn{
        border-width: 1px;
        border-color: $white;
        border-radius: 3px;
    }

}

/*.customer-info {
    
}*/

/* import bootstrap to set changes */
@import "../node_modules/bootstrap/scss/bootstrap";