/* make the customizations */

$bes-blue-color: #056e8f;
$page-background: #edf0f0;
$dark-gray: #828282;
$light-gray: #c6c6c6;
$white: #ffffff;

$theme-colors: (
    "primary": $bes-blue-color,
    "light": $light-gray,
    "dark": $dark-gray,
);

$border-radius: 15px;
$border-radius-lg: 15px;
$border-radius-sm: 15px;
$input-btn-border-width: 0.75px;
$input-border-radius: 15px;
$input-border-radius-lg: 15px;
$input-border-radius-sm: 15px;
$body-bg: $page-background;
$input-bg: $white;
$modal-content-bg: transparent;
$modal-content-border-color: transparent;

.BES-header {
    background-color: $white
}

.main-btn {
    $border-radius: 15px;
}

.BES-header-info {
    background: $bes-blue-color;
    text-align: center;
    align-items: center;
    color: $white;
    height: 100px;
}

.menu-title {
    justify-content: center;
    display: block;
}

.login-icon {
    cursor: pointer;
}

/*.customer-info {
    
}*/

/* import bootstrap to set changes */
@import "../node_modules/bootstrap/scss/bootstrap";